<?xml version='1.0' encoding='UTF-8'?>
<?define Name = "bstreamer" ?>
<?define Description = "bstreamer is a rtsp h264 video streaming server" ?>
<?define Manufacturer = "Vladimir Zhilin" ?>
<?define Version = "0.3" ?>
<?define CabName = "bstreamer.cab" ?>
<?define UpgradeCode = "{3ffd2739-6044-4c6a-9893-c538eef66ffb}" ?>
<?define WixScriptsDir="target\wix\"?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='$(var.Name)'
      Manufacturer="$(var.Manufacturer)"
      Id='*'
      UpgradeCode='$(var.UpgradeCode)'
      Language='1033'
      Version="$(var.Version)">
		<Package Id='*'
		         Manufacturer="$(var.Manufacturer)"
		         Keywords='Installer'
		         Description="bstreamer Installer"
			     InstallerVersion='100'
			     Languages='1033'
			     Compressed='yes'/>

		<Media Id="1" Cabinet="$(var.CabName)" EmbedCab="yes" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Feature Id="ProductFeature" Title="$(var.Name)" Level="1">
		  <ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="$(var.Name)">
            <Directory Id="RepoDir"/>
            <Directory Id="BinDir"/>
          </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
	  <ComponentGroupRef Id="RepoGroup"/>
	  <ComponentGroupRef Id="BinGroup"/>
    </ComponentGroup>
  </Fragment>
</Wix>
