Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Vladimir Zhilin <zhilin.vladimir.nic@gmail.com>
Depends: default-jre | java6-runtime