Package: [[name]]
Version: [[version]]
Section: misc
Priority: low
Architecture: all
Description: [[description]]
Maintainer: Vladimir Zhilin <zhilin.vladimir.nic@gmail.com>
Suggests: openjdk-8-jre, default-jre