[Unit]
Description=RTSP Mediaserver

[Service]
User=mediaserver
WorkingDirectory=/usr/local/mediaserver
ExecStart=/usr/bin/java -Xmx256m -cp "repo/*" me.vzhilin.mediaserver.EntryPoint
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target